body{
	width: 100%;
	overflow: hidden;
	margin: 0px;
	font-family: 'Source Code Pro', monospace;
}

	#container{
  position: relative;
}

#container canvas, #overlay{
  position: absolute;
}

canvas{
  border: 1px solid black;
}

#overlay{
	color: #fff;
	width: 100%
}

.head {
    width: 100%;
    display: inline-block;
    background: linear-gradient(to right, #000000 0%,#000000 0%,#000000 0%,#000000 0%,rgba(255, 255, 255, 0) 50%,#000000 100%,#000000 100%,#000000 101%);
	font-size: 90%;
}

.top-left .top-right {
    display: inline-block;
}

.top-left{
	float: left;
	padding-top: 1%;
    padding-left: 5%;
}

.top-right{
	float: right;
	padding-top: 1%;
    padding-right: 5%;
}

.body {
    width: 41%;
    margin: auto;
    font-size: 132%;

}

.project{
	list-style: none;
	padding: 2%;
	margin:auto;
	width: 60%;
}

a:link, h2, h4{color: rgba(255, 255, 255, 0.66); text-decoration: none; font-size: 122%; }
a:hover {color: rgba(255, 255, 255, 0.66); text-decoration: none; font-size: 122%; }
a:visited {color: rgba(255, 255, 255, 0.66); text-decoration: none; font-size: 122%; }